
@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/GTWalsheim-Bold_2.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.impacthub h1 {
  font-family: "GT Walsheim","Open Sans", Arial, sans-serif;
  font-weight: 700;
}

#fh5co-home .fh5co-copy-inner h1{
  font-size: 36px;
  /*line-height: 1.4em;*/
}

#fh5co-location {
  clear: both;
  padding: 0 0;
}
.heading-top{
  margin-top: 4em;
}
@media screen and (max-width: 768px) {
  #fh5co-location {
    padding: 5em 0 3em 0;
  }
}

#fh5co-home .fh5co-copy-inner h2 {
  line-height: 1.5em;
}

.fh5co-heading.hero-event-content{
  padding-top: 4em;
  padding-bottom: 4em;
}
.fh5co-heading.hero-event-content h2, .fh5co-heading.hero-event-content p{
  color: #ffffff;
  font-size: 160%;
}

.btn-facebook{
  color: #8b9dc3;
  background-color: #3b5998;
  border-color: #3b5998 !important;
}
.btn-facebook:hover{
  color: #fff;
  background-color: #3b5998;
}
