<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P92ZW2X');</script>
    <!-- End Google Tag Manager -->
    {{ partial "header.html" . }}
  </head>
  <body class="impacthub">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P92ZW2X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- Loader -->
    <div class="fh5co-loader"></div>
    <div class="fh5co-page">
      <div id="fh5co-container">

	{{ partial "hero.html" . }}

	{{ partial "nav.html" . }}

	{{ if .Site.Params.mission.enable }}
	{{ partial "mission.html" . }}
	{{ end }}

	{{ if .Site.Params.services.enable }}
	{{ partial "services.html" .}}
	{{ end }}

	{{ if .Site.Params.work.enable }}
	{{ partial "gallery.html" .}}
	{{ end }}

	{{ if .Site.Params.team.enable }}
	{{ partial "team.html" .}}
	{{ end }}

	{{ if .Site.Params.location.enable }}
	{{ partial "location.html" .}}
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	{{ partial "contact-form.html" .}}
	{{ end }}

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" .}}
	{{ end }}

      </div>
    </div>

    {{ partial "js.html" .}}

  </body>
</html>
