
<div id="fh5co-gallery" data-section="events"  style="min-height: 40vh; background-image: url({{ with .Site.Params.hero.img }}{{ . | absURL }}{{ end }});">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading hero-event-content">
      {{ with .Site.Params.work }}
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>

      <div class="text-center">
        <p><a href="https://www.facebook.com/impacthublausanne/" class="btn btn-primary" id="gtm-event"><i class="icon-facebook"></i> Tous nos événements</a></p>
      </div>
      {{ end }}
    </div>
  </div>
</div> <!-- END fh5co-gallery -->
